.deck{class: dom_id(deck)}
  %h2= link_to deck.title, deck
  .card-list= render partial: 'decks/card', collection: deck.cards, locals: { deck: deck }
  %footer
    = link_to 'Edit', [:edit, deck]
    = link_to 'Delete', deck, method: :delete, remote: true
    = render partial: 'likes/like', locals: { likeable: deck }