.deck{class: dom_id(deck)}
  %h2= link_to deck.title, deck
  %ul
    - deck.cards.each do |card|
      %li{class: [dom_id(deck), dom_id(card)]}
        = link_to card.title, card
        = link_to 'Remove', cards_decks_path(card_id: card.id, deck_id: deck.id), method: :delete, remote: true
  %footer
    = link_to 'Edit', [:edit, deck]
    = link_to 'Delete', deck, method: :delete, remote: true